body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  padding: 5px;  
}

a {
  color: #69696a;
  text-align: left;
}

a:link {
  text-decoration: none;
}

button {
  width: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  padding: 10px;
}

#desc {
  border-left: solid #69696a;
  border-left-width: 2px;
  padding: 10px;
}

.container {
    display: flex;
    justify-content:end;
    bottom: 1px;
    padding-right: 10px;
    margin: 0;
    
}

.footerhead {
    position: fixed;
    justify-content: right;
    bottom:1px;
}

#footlinks {
  display:flex;
  justify-content: space-around;
  margin: 0px;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(247, 193, 162, 0.7);
  width: 100%;
  
}

@media screen and (min-width:768px) {
  

.container-1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  
  
}

#navlinks {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

}

#main {
  max-width: 50%;
  
}

#pinkdot {
  border-radius: 50%;
  background-color: rgba(247, 136, 167, 0.6);
  height: 200px;
  width: 200px;
  float: right;
  margin-right: 100px;
  margin-top: -200px;
  
 
 
 
  
}

#purpledot {
  border-radius: 50%;
  background-color: rgba(247, 193, 162, 0.7);
  height: 150px;
  width: 150px;
  float: right;
  margin-left: 200px;
  margin-right: -10;
  margin-top: -100px;
  
 

}

#orangedot {
  border-radius: 50%;
  background-color: rgba(207, 130, 213, 0.6);
  height: 100px;
  width: 100px;
  float: right;
  margin-right: -300px;
  margin-top: -190px;
  
}

}





